body {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

/*------- header ------*/

.wrapper {
  display: flex;
  align-items: center; /* Alignez les éléments verticalement au centre si nécessaire */
  margin-right: 392px;
  margin-left: 392px;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: flex-end;
  margin-left: 10px; /* Ajustez la marge entre l'image et le texte selon vos besoins */
}

header p {
  background-color: black;
  height: 25px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding: 17px 20px;
}
header nav i {
  flex: 1;
}

/*------- header ------*/

/* ------main------ */

.top-main {
  display: flex;
  align-items: center;
  padding-top: 32;
  padding-bottom: 24;
  margin-right: 392px;
  margin-left: 392px;
  height: 120px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 54px;
  font-stretch: 80px;
}
h1 > span {
  color: #ff5d5d;
}

.flex-nav {
  margin-right: 392px;
  margin-left: 392px;
  display: flex;
  border: 3px solid red;
  justify-content: space-between;
  flex: 1;
}

.flex-nav span {
  border: 2px solid black;
  height: 66px;
  border-radius: 15px;
  width: 179px;
  text-align: left;
  margin-bottom: 10px;
}
.pictures {
  display: flex;
  margin-right: 392px;
  margin-left: 392px;
  flex: 1;
}
.pictures p:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligner les éléments au centre horizontalement */
}

.pictures p:nth-of-type(2) img {
  flex: 1; /* Faites en sorte que chaque image ait une part égale de l'espace disponible */
  width: 100%; /* Assurez-vous que chaque image occupe la largeur complète */
  height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur pour maintenir le ratio d'aspect */
}

/* ------main------ */
